* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastroDocente{
    background-image: url(./imagens/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 1440px;
    height: 192.273px;
    flex-shrink: 0;
} 
.CadastroDocente{
    display: flex;
    width: 372px;
    height: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

} 

.bannerportal{
    width: 287px;
    height: 468px;
    flex-shrink: 0;
}
.formcd{
    width: 862px;
    height: 758px;
    flex-shrink: 0;
}
.footercaddoc{
    background-image: url(./imagens/image\ 2.png);
    width: 1440px;
    height: 251.772px;
    flex-shrink: 0;
}